@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

* {
    font-family: "Luckiest Guy", sans-serif;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    color: transparent;
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 30px;
}

.cards.active {
    color: black;
}

/* GAME CSS STARTS HERE */
/*  https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/*  GAME CSS ENDS HERE     */

body {
    background-color: #3f9db4;
}

.startGame {
    position: absolute;
    top: 0;
    width: 100px;
    right: 10px;
}

p {
    letter-spacing: 2px;
    color: #011627;
    font-size: 30px;
}

path {
    fill: transparent;
}

text {
    fill: tomato;
    font-size: 26px;
    font-family: "Luckiest Guy", sans-serif;
    text-shadow: 2px 2px white;
    font-weight: 600;
}

/* */

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-container {
    width: 100%;
    height: 400px;
}

.mainLogo {
    position: absolute;
}

.welcomeText {
    position: fixed;
    top: 10px;
    right: 40px;
}

.curvedText {
    position: absolute;
    top: -30px;
    left: 300px;
    /* position: fixed;
    width: 500px;
    height: auto;
    top: -12%;
    right: 17%; */

    /* right: 40%; */
}

.Title {
    margin-top: 100px;
}

.Typist {
    /* margin-top: 0; */
    /* position: absolute; */
    /* top: 0; */
    width: auto;
    height: 200px;
}

Typist > h1 {
    display: inline-block;
    text-align: center;
    margin: 0px 0% 0px 15%;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    padding: 15px;
}

.registration-container {
    text-align: center;
}

h1,
h3 {
    /* display: inline-block;
    text-align: center;
    margin: 10px 15% 70px 15%;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    padding: 15px; */
    margin: 15px 100px;
    padding-top: 15px;
    color: #efffe9;
    text-align: center;
}

div.Typist {
    /* transition: 3s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.02);

    .entry-title {
        background-position: -100% 0;
    } */
}

h2 {
    color: #efffe9;
    margin: 5px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
    padding: 10px;
}

/* REGISTRATION FORM */
form {
    text-align: center;
    background-color: #72bfce;
    color: tomato;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 10px solid white;
    padding: 20px 0;
    border-radius: 3%;
    display: flex;
    align-items: center;
    /* box-shadow: 10px 10px; */
    box-shadow: 0px 3px 164px white;
}

input {
    font-size: 20px;
    font-size: 20px;
    padding: 15px 0 15px 0px;
    text-align: center;
    margin-left: 15px;
    box-shadow: 5px solid green;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0px 10px grey;
    border-radius: 15px;
    letter-spacing: 1px;
    box-shadow: 2px 1.8px #6cbbb3;
    color: aqua;
    background-color: #efffe9;
}

.header-container {
    display: block;
}

.header-container {
    /* top: 0; */
    /* left: 0; */
    /* position: fixed; */
    /* width: 100%; */
    /* height: 20%; */
    /* text-align: center; */
    /* box-shadow: 0px 2px 4px grey; */
    /* top: 0; */
    /* left: 0; */
    /* position: fixed; */
    /* width: 100%; */
    /* height: 20%; */
    /* text-align: center; */
    /* box-shadow: 0px 2px 4px grey; */
    background: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 2px 4px;
    border-radius: 20px;
}

.content-container {
    text-align: center;
}

/* FOR THE BIO EDITING */
.profile-container {
    /* width: 400px;
    height: 370px;
    background-color: inherit;
    box-shadow: 1px solid green;
    border: 5px solid white;
    /* padding: 10px; */
    /* box-shadow: 5px 10px #000; */
    /* position: absolute;
    top: 50%;
    right: 10%; */
    /* box-shadow: 5px 10px #000; */
    /* box-shadow: 5px 10px #000; */
    /* box-shadow: 5px 10px #000; */
    /* box-shadow: 5px 10px #000; */
    /* box-shadow: 5px 10px #000; */
    /* box-shadow: 5px 10px #000; */
    /* box-shadow: 5px 10px #000; */
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background-image: url(./images/patterns.jpg);
    background-size: contain;
    background-repeat-x: repeat;
    height: 80vh;
    border-radius: 10px;
}

/* PROFILE IMG */
.image-container {
    float: right;
    float: right;
    width: 200px;
    /* height: auto; */
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* background: url(./images/transparent.jpg); */
}

/* ------------------ LOGO FOR WELCOME PAGE   --------------------- */
.mainLogo {
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0);
    padding-top: 70px;
    position: absolute;
    top: 20px;
    right: 40%;
    width: 380px;
    height: auto;
}

span {
    /* overflow: hidden;
    background: linear-gradient(90deg, grey, #fff, grey);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); */
    /* margin: 15px; */
    padding-top: 17px;
    color: #e33b3b;
    /* animation: blink 10s linear infinite; */
}

a > span {
    animation: blink 4s linear infinite;
}

a:hover {
    color: white;
    transition: 2s;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.02);

    .entry-title {
        background-position: -100% 0;
    }
}

h1:hover {
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.02);

    .entry-title {
        background-position: -100% 0;
    } */
}

img:hover {
    transform: translateY(-10px) scale(1.02);

    .entry-title {
        background-position: -100% 0;
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* LOGO */
.logo {
    /* width: 150px; */
    padding-top: 10px; /* TO TEST */
    height: 150px;
    display: block;

    /*
    left: 12px;
    top: 7px;
    position: absolute;
one is the image on the right



-> then we need to show the overlay images
@check my overlay!!
    height: 150px;
    width: 150px;
    object-fit: cover
    */
}

a {
    color: #011627;
    margin: 140px;
    padding: 15px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    position: absolute;
}

.overlay-container {
    position: fixed;
    /* z-index: 10; */
    /* top: 80%; */
    top: 0;
    /* right: 0; */
    /* height: 100%; */
    /* width: 100%; */
    /* transition-duration: 5s; */
    /* transform: translate(-50%, -50%); */
    background-color: 0.8;
    opacity: 0.9;
    /* color: green; */
    padding-top: 50px;
    /* transition: 2s ease; */
    overflow-y: scroll;
    border: 1px solid transparent;
    position: fixed;
    z-index: 1;
    top: 160px;
    right: 0;
    background-color: #111;
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;

    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(40, 40, 40, 0.9);
    overflow: hidden;
    text-align: center;
    color: black;
    z-index: 400; */
}

/*

----------------------- THE MODAL OVERLAY -------- */
/*
.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(40, 40, 40, 0.9);
    overflow: hidden;
    text-align: center;
    color: black;
    z-index: 400;

    /* -------- TRANSITION  ----- */
/*
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.submitComment {
    position: relative;
}

.modalOverlay.bottom {
    bottom: 100%;
}


/* -------- IMAGE IN MODAL --------- */
/*

height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;?@check


.imgsModal {



    margin: auto;
    display: block;

    object-fit: cover;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px solid white;

}*/

/*IMAGE CONTAINER*/
/* #imgContainer img {
    /* margin: 10px; */
/* position: absolute; */
/* bottom: -100%; */
/* right: 40%; */
/* width: 500px;
    height: auto;
    object-fit: contain;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 50px;
}
*/

/* FRIEND BUTTON */
/* DESIGN AND REFACTORING WIP */
.FriendButton {
    -moz-box-shadow: inset 0px 13px 39px -6px #11bed9;
    /* -webkit-box-shadow: inset 0px 13px 39px -6px #11bed9; */
    /* box-shadow: inset 0px 13px 39px -6px #11bed9; */
    /* background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) ); */
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    /* background: -webkit-linear-gradient(top, #fff 5%, #fff 100%); */
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #ef6144 5%, #ef6144 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    /* background-color: #dddddd; */
    -moz-border-radius: 9px;
    /* -webkit-border-radius: 9px; */
    /* border-radius: 9px; */
    /* display: inline-block; */
    /* cursor: pointer; */
    /* color: #ffffff; */
    font-weight: bold;
    padding: 28px 30px;
    text-decoration: none;
    border-radius: 12px;
    /* text-shadow: 0px 2px 0px #58cccc; */
    position: inherit;
}
.FriendButton:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #408c99),
        color-stop(1, #599bb3)
    );
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #ff851b 5%, #ff851b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color: #408c99;
}

.FriendButton:active {
    position: relative;
    top: 1px;
}

.FriendButton {
    width: auto;
    letter-spacing: 0.3px;
    font-size: 15px;
    /* background-color: #dddddd; */
    color: #fff;
    border: none;
    align-items: flex-ed;
    /* align-self: flex-end; */
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /* width: auto; */
    /* height: 10px; */
    /* display: block; */
}

/* BIO EDITING BUTTON */
.editButton {
    -moz-box-shadow: inset 0px 13px 39px -6px #11bed9;
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    /* background: -webkit-linear-gradient(top, #fff 5%, #fff 100%); */
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #ef6144 5%, #ef6144 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    -moz-border-radius: 9px;
    font-weight: bold;
    padding: 28px 30px;
    text-decoration: none;
    border-radius: 12px;
}

.editButton:hover  {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #408c99),
        color-stop(1, #599bb3)
    );
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #ff851b 5%, #ff851b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color: #408c99;
}

.editButton:active {
    position: relative;
    top: 1px;
}

/*  --------  INPUT CONTAINER  ------ */
.input-container {
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* FOR THE BUTTONS IN REGISTER & LOGIN */
#submit {
    border: none;
    background: #011627;
    color: #efffe9;
    cursor: pointer;
    margin: 15px 30px;
    letter-spacing: 1.4px;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: inset 0 0 10px white;
    letter-spacing: 2px;
    font-size: 25px;
    transition: width 12s, height 14s;
    -webkit-transition: 0.4s;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 4;
}

/* ANIMATION FOR BUTTONS INSPIRED BY CODEPEN */
@-webkit-keyframes greenPulse {
    from {
        background-color: #011627;
        -webkit-box-shadow: 0 0 10px #fff;
    }
    50% {
        background-color: #000;
        -webkit-box-shadow: 0 0 22px #fff;
    }
    to {
        background-color: #011627;
        -webkit-box-shadow: 0 0 10px #fff;
    }
}

#submit:hover {
    -moz-transition: all 3.8s;
    -webkit-box-shadow: inset 0 0 10px #000;
    animation: none;
}

#submit:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@-webkit-keyframes glowing {
    0% {
        background-color: #b20000;
        -webkit-box-shadow: 0 0 3px #b20000;
    }
    50% {
        background-color: #ff0000;
        -webkit-box-shadow: 0 0 40px #ff0000;
    }
    100% {
        background-color: #b20000;
        -webkit-box-shadow: 0 0 3px #b20000;
    }
}

/* THE LOGIN PART */
div.login-container > form > div.input-container {
    margin-right: auto;
    margin-left: auto;
}

/* left image in header */
.right {
    overflow: hidden;
    width: auto;
    right: 0;
    position: 100px;
    float: bottom;
    margin-left: 88%;
}

textarea {
    width: 400px;
    height: 150px;
    /* border-width: 2px; */
    background-color: inherit;
    margin-top: 50px;
    /* border: 2px solid white; */
    color: white;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

.prof-container {
    position: absolute;
    /* position: relative; */
    width: 300px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    margin-left: 1200px;
    margin-top: 250px;
}

.profile-pic {
    margin-left: 20%;
    height: 10;
    object-fit: contain;
    object-position: bottom;
    height: 560px;
    width: 550px;
    border-radius: 50%;
    border: 2px solid black;
}

.image {
    width: 500px;
    height: 500px;
    /* margin-top: 15%; */
    margin-top: 210px;
}

#position-image {
    margin-top: 70px;
}

.button-behaviour {
}

.bioEditor-container {
    width: 770px;
    height: 600px;
    margin-top: 210px;
    margin-right: 10%;
    background-repeat: unset;
    background-size: contain;
    border: o.1px solid black;
    box-shadow: 5px solid green;
    background-color: #3f9db4;
    /* background: aqua; */
    border-radius: 10px;
    box-shadow: 0px 1px 40px 10px black;
}

div {
    margin-top: 10px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.bio-text-container {
    margin: 40px;
    font-style: italic;
    font-size: 25px;
}

.header-container > .profile-pic {
    width: 150px;
    height: 150px;
}

#display-button {
    width: 180px;
}

.friends-wannabees-container {
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.friends-container {
    /* display: inline-block; */
    /* flex-direction: column; */
    justify-content: center;
}
.wannabees-container {
    /* display: inline-block; */
    justify-content: center;
}

#style-change {
    margin-top: 10px;
    margin-bottom: 20px;
}

.friends-list {
    margin-top: 30px;
}

.friends-names {
    margin: 5px;
}

#textarea-chat {
    margin-bottom: 100px;
    margin-top: 150px;
    margin-left: 200px;
}

.background-video {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    top: 160px;
    width: 100%;

    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* -webkit-transform: translateX(-50%) translateY(-50%); */
    /* transform: translateX(-50%) translateY(-50%); */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    overflow-y: scroll;
}

.video {
    border: 5px solid green;
    background-size: cover;
    position: fixed;
    /* top: 150px; */
    /* right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; */
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.foreground {
    position: absolute;
    z-index: 1;
    margin-left: 40px;
}

/* buttons for new pages */
.buttons-container {
    width: 500px;
    /* height: 500px; */
    position: absolute;
    top: 50px;
    right: 0;
}

#nav-buttons-start {
    width: 400px;
    left: 10px;
}

#nav-buttons-fun {
    width: 400px;
    top: 50px;
    left: 10px;
}

.infos-other-profile {
    width: 300px;
    height: 300px;
    margin-top: 130px;
    margin-right: 0%;
    margin-left: 6%;
    position: absolute;
    letter-spacing: 1.2px;
    font-size: 25px;
}

/* EDITOR CONTAINER BIO */
.bio-text-container {
    margin-top: 370px;
}

.navigation-container {
    box-shadow: 3px -3px 3px -3px #ffba88;
    border-top-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    position: absolute;
    top: -55px;
    left: 500px;
}

li {
    float: left;
}

.navigation-container > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-container > li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-container > li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#nav_1 {
    top: 10px;
    left: 600px;
    width: 140px;
    font-size: 20px;
}

#nav_2 {
    top: 10px;
    left: 450px;
    font-size: 20px;
}

#nav_3 {
    top: 10px;
    font-size: 20px;
    left: 150px;
    width: 200px;
}
#nav_4 {
    top: 10px;
    font-size: 20px;
}

/*FROM PETE */
/* input[type="file"] {
    display: none;
} */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid white;
    width: 100px;
    display: inline-block;
    padding: 15px 14px;
    cursor: pointer;
    letter-spacing: 1px;

    border-radius: 20px;
    box-shadow: 0px 4px 4px;
}

.custom-file-upload:hover {
    color: tomato;
}

.xButton {
    float: right;
    margin-bottom: 40px;
    margin-left: 40px;
    letter-spacing: 1px;
    box-shadow: 0px 4px 4px;
}

.xButton:hover {
    color: tomato;
}

.uploadermodal {
    letter-spacing: 1px;
    z-index: 1;
    background-color: #1c1d1f;
    position: absolute;
    right: 0;
    padding: 0 20px 20px 20px;
    text-align: center;
    top: 170px;
    box-shadow: 4px 4px 4px;
    border: 2px solid #222;
    animation-duration: 0.5s;
    animation-name: slidein;
    border-radius: 20px;
    width: 550px;
}

@keyframes slidein {
    0% {
        right: -250px;
    }
    100% {
        right: 0;
    }
}

#MyButton {
    margin-left: 40px;
}
